body{
    font-family: Didact Gothic;
}

input, label, .add{
    display: block;
    margin-left: 20px;
}

input{
    padding: 5px 5px;
}

.fas{
    background-color: transparent;
    cursor: pointer;
    border: 1px solid darkcyan;
    margin: 0 5px;
    border-radius: 5px;
    padding: 5px 10px;
}

.add{
    padding: 10px 20px;
    border: 1px solid darkcyan;
    background-color: transparent;
    cursor: pointer;
    margin-top: 10px;
    border-radius: 5px;
    text-transform: uppercase;
}

.contact-item{
    margin: 0 10px;
}

.list{
    list-style-type: none;
}

.list > li{
    display: flex;
    margin-top: 20px;
}
  
  .task.completed{
    text-decoration: line-through;
  }
  
  .menu{
    padding: 10px;
    background-color: darkcyan;
  }
  
  .menu > ul {
    display: flex;
    list-style-type: none;
  
  }
  
  .menu > ul > li {
    padding: 8px;
    margin-right: 1rem;
    border: 1px solid #fff;
    border-radius: 4px;
  }
  
  .menu a {
    color: #fff;
    text-decoration: none;
    
  }
  
  .menu .active{
    color: rgb(0, 46, 46);

  }
  
